html, body {
  height: 100%;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-color: black;
}

h3 {
  font-size: 1.45em;
  font-weight: 400;
  margin: 14px 0;
  color: white
}

p {
  font-size: 1.2em;
  font-weight: 300;
  margin: 1rem 0 1.5rem 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .outer-container {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 100%;
    width: 18rem;
    z-index: 1;
    background: rgba(33, 33, 33, 0.2);
    border-radius: 18px;
    backdrop-filter: blur(0.6rem);
    -webkit-backdrop-filter: blur(0.6rem)
  }
}

/* don't apply backdrop-filter on unsupported browsers */
@supports not ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .outer-container {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 100%;
    width: 18rem;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 18px;
  }
}

.inner-container {
  padding: 30px;
}

a, a:visited {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 300;
}

a:hover, a:focus {
  border-color: #bbb;
  border-bottom: 1px solid #ededed;
}

.sites {
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin: 14px 0;
}

.sites_item {
  display: inline;
  margin: 0px 10px;
}