html, body {
  height: 100%;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: rgb(255, 218, 237);
  cursor: url(../images/small-cursor.cur), auto !important;
}

p {
  margin: 1rem 0 1.5rem 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.outer-container {
  max-width: 1200px;
  margin: 0 auto;
  max-height: 100%;
  width: 22rem;
  z-index: 1;
}

.inner-container {
  padding: 20px;
  border: 2px solid #ff67af;
  border-radius: 4px;
  background-color: #ffa1c5;
}

a, a:visited {
  color: white;
  border-bottom: 1px solid #ff67af;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 300;
  cursor: url(../images/small-pointer.cur), auto !important;
}

a:hover {
  border-bottom: 1px solid white;
  cursor: url(../images/small-pointer.cur), auto !important;
}

a:focus {
  border-bottom: 1px solid #ff67af;
  cursor: url(../images/small-pointer.cur), auto !important;
}

.sites {
  font-size: 16px;
  list-style-type: none;
  padding: 0;
  margin: 14px 0;
}

.sites_item {
  display: inline;
  margin: 0px 10px;
}

.sprites {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.blurb {
  font-size: 16px;

}