html {
  height: 100%;
}

body {
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  line-height: 17px;
  font-weight: 500;
  font-size: 14px;
  margin: 28px 0px;
  background-color: #9b9c9c;
}

p {
  margin: 1rem 0 1.5rem 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.primary-container {
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: 20px 8px;
  padding: 20px;
  border: 2px solid #272727;
  background-color: #fff;
}


/* mobile - small */
@media (max-width: 320px) {
  .primary-container {
    background-color: lightcoral;
  }
}

/* mobile - medium */
@media (min-width: 321px) and (max-width: 375px) {
  .primary-container {
    background-color: lightsalmon;
  }
}

/* mobile - large */
@media (min-width: 376px) and (max-width: 425px) {
  .primary-container {
    background-color: lightyellow;
  }
}

/* tablet */
@media (min-width: 426px) and (max-width: 768px) {
  .primary-container {
    background-color: lightgreen;
  }
}

/* laptop */
@media (min-width: 769px) {
  .primary-container {
    margin: 20px 8px;
    background-color: lightblue;
  }
}

/* larger */
@media (min-width: 1200px) {
  .primary-container {
    margin: 20px 344px;
    background-color: pink;
  }
}

a {
  font-size: 14px;
  width: auto;
  color: #000;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 3px;
  font-weight: 300;
  padding-bottom: 4px;
}

a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 2px;
}